@{
    ViewData["Title"] = "Students Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles{
    
}

<h1>@ViewData["Title"]</h1>

<div id="pageBody">
    <div>
        <p>Student List</p>
        <table id="studentTable" class="display nowrap" style="width:100%"></table>
            <button type="button" onclick="showModalForAddStudent();" class="btn btn-primary col-md-12">Add Student</button>
    </div>
    <br><br><br><br>
    <div>
        <p>Assignment List</p>
        <table id="assignmentTable" class="display nowrap" style="width:100%"></table>
            <button type="button" onclick="showModalForAddAssignment();" class="btn btn-primary col-md-12">Add Assignment</button>
    </div>
    <!-- BEGIN MODAL -->
    <div class="modal fade" id="studentModal" tabindex="-1" role="basic" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Add Student</h4>
                </div>
                <div class="modal-body">
                    <form id="modalForm" autocomplete="off" class="form-horizontal" novalidate="novalidate">
                        <div class="form-body">
                            <div class="form-group">
                                <label class="control-label col-md-3">Name</label>
                                <div class="col-md-8">
                                    <div class="input-icon right">
                                        <em class="fa"></em>
                                        <input type="text" class="form-control" id="nameTxt">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3">SurName</label>
                                <div class="col-md-8">
                                    <div class="input-icon right">
                                        <em class="fa"></em>
                                        <input type="text" id="surnameTxt" class="form-control">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" onclick="closeStudentModal();" class="btn blue">Close</button>
                    <button type="button" onclick="saveStudentModal();" class="btn blue">Save</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="assignmentModal" tabindex="-1" role="basic" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Add Assignment</h4>
                </div>
                <div class="modal-body">
                    <form id="modalForm" autocomplete="off" class="form-horizontal" novalidate="novalidate">
                        <div class="form-body">
                            <div class="caption">Select an exam from the list</div>
                            <div class="portlet-body">
                                <table id="examTable" class="display nowrap" style="width:100%"></table>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" onclick="closeAssignmentModal();" class="btn blue">Close</button>
                    <button type="button" onclick="saveAssignmentModal();" class="btn blue">Save</button>
                </div>
            </div>
        </div>
    </div>
    <!-- END MODAL -->
</div>

@section scripts{        
    <script src="~/js/pages/studentPage.js"></script>
}