@{
    ViewData["Title"] = "Exams Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles{
}

<h1>@ViewData["Title"]</h1>

<div class="container">
    <p>Use this page to manage exam list.</p>
    <table id="examTable" class="display nowrap" style="width:100%"></table>
    <table id="questionTable" class="display nowrap" style="width:100%"></table>
</div>

@section scripts{        
    <script src="~/js/pages/examPage.js"></script>
}