@{
    ViewData["Title"] = "Exams Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles{
    <link href="~/css/datatables.min.css" rel="stylesheet" />
    <link href="~/css/datatable.css" rel="stylesheet" />
}

<h1>@ViewData["Title"]</h1>

<p>Use this page to manage exam list.</p>


@section scripts{        
    <script src="~/js/pages/examPage.js"></script>
}