@{
    ViewData["Title"] = "Exams Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles{
}

<h1>@ViewData["Title"]</h1>

<p>Use this page to manage exam list.</p>
<p>Exam List</p>
<table id="examTable" class="display nowrap" style="width:100%"></table>
<br>
<p>Questions</p>
<table id="questionTable" class="display nowrap" style="width:100%"></table>

@section scripts{        
    <script src="~/js/pages/examPage.js"></script>
}